import {GetContent, SetContent} from 'onus-content'

import 'ui-kit/blocks/index.js'
import './index.ess'

import AccountDropdown from 'ui-kit/account-dropdown/index.jade'
import Toolbar from 'ui-kit/toolbar'
import * as logo from '../logo.png'

var account = _.account
var linkProps = props.linkProps || {}

Toolbar.bg-white
  block left
    GetContent(name="toolbar-left")
    SetContent(name="toolbar-left" depth=0)
      a.pl2.logo()&props(linkProps.dashboard): img.icon.primary(src=logo width="100px")

  block links
    GetContent(name="toolbar-links")
    SetContent(name="toolbar-links" depth=0)
      div.flex
        a.nav-link.ml2()&props(linkProps.dashboard) Dashboard
  block right
    AccountDropdown(account=account)
      block content
        a.nowrap.block.p2.hover-bg-silver-light.color-gray.hover-primary.h5()&props(linkProps.settings)
          t('auth.actions.settings' _="Edit Settings")
        a.nowrap.block.p2.hover-bg-silver-light.color-gray.hover-primary.h5()&props(linkProps.logout)
          t('auth.actions.log-out' _="Log out")
    GetContent(name="toolbar-right")
    SetContent(name="toolbar-right" depth=0)
      CreatePoll(template=createForm account=account)

