svg(width='11px' height='16px' viewBox='0 0 11 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
  g(id='Page-1' stroke='none' stroke-width='1' fill='currentColor' fill-rule='evenodd')
    g(id='Artboard' transform='translate(-216.000000, -44.000000)' fill='currentColor')
      path(d='M227,59.1328125 C227,59.1328125 225.664062,60 223.335938,60 C220.335938,60 219,58.6640625 219,56 L219,51 L216.664062,51 L216.664062,48.6640625 C218.664062,48 220,47 220.335938,44 L222.664062,44 L222.664062,48 L226.335938,48 L226.335938,51 L222.664062,51 L222.664062,55 C222.664062,56.6640625 223,57.3359375 224.664062,57.3359375 C225.664062,57.3359375 227,56.6640625 227,56.6640625 L227,59.1328125 Z' id='tumblr')